/* Empty. Add your own CSS if you like */
.bottomButton {
  width: 35px;
  height: 35px;
}
.highlighted{
  color:red;
}
.rounded{
  border-radius: 5px;

}

div.center{
  margin-left: auto;
  margin-right: auto;
}

.nowplaying{
  border-radius:5px;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 10px;
  position: relative;
  height:35px;
  width:90%;
  padding:5px;
  color:#387EF5;
  border: 1px solid #387EF5;
  overflow: hidden;
  float: left;
}

.searchResults{
  position: absolute;
  top: 5rem;
  z-index:10;
}

.searchResultsItem{
  position: relative;
  width: 1400px;
  color:#6D6D6D;
}

.searchBar{
  position: relative;
  margin-bottom: 50px;
}

span.center{
  vertical-align: middle;
}

span.thumb{
  margin-right:10px;
}

span.textcenter{
  display: inline-block;
}

span.large{
   line-height:50px;
}

span.small{
   line-height:15px;
}

img.right {
  float:left;
  margin-right: 3px;

}

img.small {
  height:42px;
  width:42px;
}

.playlistItem {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marquee p{
    position: absolute;
    font-family: Tahoma, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
    transform:translateX(100%);
    transform:translateY(100%);
}

.marquee p:nth-child(1) {
    -webkit-animation: up 2s forwards, across 35s 5000ms linear infinite;
}

@font-face {
  font-family: Langdon;
  src: url(../img/Langdon.otf);
}

@keyframes up {
    0%  {
        transform:translateY(100%);

    }
    100% {
        transform:translateY(0%);
    }

}
@keyframes across {
    0%  {
        transform:translateX(100%);

    }
    100% {
        transform:translateX(-100%);
    }
}