/* Empty. Add your own CSS if you like */
.bottomButton {
  width: 30px;
  height: 30px;
}
.highlighted{
  color:red;
}
.rounded{
  border-radius: 5px;

}

div.center{
  margin-left: auto;
  margin-right: auto;
}

.nowplaying{
  border-radius:5px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  position: relative;
  height:30px;
  width:80%;
  padding:5px;
  color:#387EF5;
  border: 1px solid #387EF5;
  overflow: hidden;
}

.searchResults{
  position: absolute;
  z-index:10;
}

.searchResultsItem{
  position: relative;
  width: 1400px;
  color:#6D6D6D;
}

span.center{
  vertical-align: middle;
}

span.thumb{
  margin-right:10px;
}

span.textcenter{
  display: inline-block;
}

span.large{
   line-height:50px;
}

span.small{
   line-height:15px;
}

img.right {
  float:left;
  margin-right: 3px;

}

img.small {
  height:42px;
  width:42px;
}

.playlistItem {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marquee p{
    position: absolute;
    font-family: Tahoma, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
    transform:translateX(100%);
}

.marquee p:nth-child(1) {
    animation: left-one 10s ease infinite;
}


@keyframes left-one {
    0%  {
        transform:translateX(100%);
    }
    10% {
        transform:translateX(0);
    }
    40% {
        transform:translateX(-100%);
    }
    50% {
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0%);
    }
}
@keyframes left-two {
    0% {
        transform:translateX(100%);
    }
    50% {
        transform:translateX(100%);
    }
    60% {
        transform:translateX(0);
    }
    90% {
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}
